{% extends "base.html" %}
{% block content %}

   

    {% for recipe in recipes %}
        {{recipe.recipes_name}}<br>
        {{recipe.description}}<br>
        {{recipe.ingredients}}<br>
        {{recipe.directions}}<br>
        {{recipe.yields}}<br>
        {{recipe.prep_time}}<br>
        {{recipe.total_time}}<br>
    {% endfor %}

    
<ul class="collapsible">
    <li>
        <div class="collapsible-header white-text light-blue lighten-1 text-shawdow"><i class="fas fa-caret-down"></i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header white-text light-blue lighten-1 text-shawdow"><i class="fas fa-caret-down"></i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header white-text light-blue lighten-1 text-shawdow"><i class="fas fa-caret-down"></i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>

{% endblock %}